*{
    margin: 0;
    padding: 0;
}

ul, ol{
    list-style: none;
}
body{
    background: url(../css/imagens/capa.png),
        url(../css/imagens/ruido.png),
        linear-gradient(50deg, #ff4169,#7c26f8);
        background-attachment:fixed;
}
body{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

html, body #home{
    overflow-x: hidden;
}
html {
    height: 100%;
}

#home {
    height: 100%;
}
/* navigation*/

nav.navbar-transparente {
    background: rgba(0, 0, 0, 0.6);
    padding: 15px 0px;
}
/* navigation*/


/* links color*/
.navbar-light .navbar-nav .nav-link{
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #9bf0e1;
}

.navbar-light .navbar-toggler {
    color: rgba(255, 255, 255,.5);
    border-color: rgba(255, 255, 255, 0.5);
}
.divisor{
    width: 1px;
    background: white;
    margin: 12px 15px;
}
/* links color*/

/* CAPA*/
.capa{
    text-align: center;
    color: white;
}
.btn-custom {
    color: white;
    border-radius: 500px;
    text-transform: uppercase;
    transition: 0.4s,color 0.4s;
    padding: 10px 20px;
}
.btn-roxo{
    background: #7c25f8;
      
}
.btn-roxo:hover{
    background: #6207e3;
    color: white;
}
.btn-branco{
    border: 2px solid white;
}
.btn-branco:hover{
    background-color: white;
    color: black;
}

/* Content*/
.caixa {
    
    padding-top: 20px;
    padding-bottom: 20px;
}

#servicos {
    background: white;
    
}
#recursos {
    padding-top: 20px;
    padding-bottom: 20px;
}
#servicos h2,h3 {
    color: #7c25f8;
}
.albuns {
    padding: 10px 0;
}
#recursos h2 {
    color: white;
}

#recursos h3 {
    color: #9bf0e1;
}
#recursos {
    color: white;
}
.rotation {
    transform: rotate(30deg);
    padding-left: 80px;
}
.carousel-control-next, .carousel-control-prev {
    width: 5%;
}

footer{
    background: black;
    padding: 50px 0px 20px 0px;
    position: relative;
}
footer h4{
    color: #919496;
    font-size: 0.8em;
    text-transform: uppercase;
}
footer .navbar-nav a {
    color: white;
    font-size: 0.8em;
}
footer .navbar-nav a:hover {
    color: #9bf0e1;
    text-decoration: none;
}
footer ul li {
    float: right;
    margin: 0 5px;
}

/* Content*/
h1 {
    font-weight: 900;
    letter-spacing: -0.05em;
    margin-bottom:50px;
}

h2 {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -0.04em;
}

h3 {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -0.04em;
}
/*/ Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    h1{
        font-size: 3em;
    }
    .btn-custom {
        margin: 10px 15px;
    }
}
/* No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
    h1{
        font-size: 3em;
    }
    .btn-custom {
        margin: 10px 15px;
    }
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    h1{
        font-size: 4em;
    }
    .btn-custom {
        margin: 10px 15px;
    }
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    h1{
        font-size: 5em;
    }
    .btn-custom {
        margin: 10px 15px;
    }
 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    h1{
        font-size: 6em;
    }
    .btn-custom {
        margin: 10px 15px;
    }
 }
/* CAPA*/